/* 
#ffffff
#fe6c90
#d03791
#87286a
#452459
#260d34   
*/
html{
  background-color: #000
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/GothamBold.ttf");
}
header {
  font-family: "Gotham", sans-serif;
  color: #fff
}

.App {
  text-align: center;
  background-color: #000
}

.classLogo {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  .caixaPrincipal {
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: rgb(36, 31, 37);
    height: 150px;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
  }

@media (min-width:500px) {
.caixaPrincipal {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(36, 31, 37);
  height: 180px;
  width: 480px;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
}
}

form > button{
  width: 70px;
  height: 40px;
  margin-left: 10px;
  padding: 5px;
  background-color: black;
  border: #fe6c90 solid 2px;
  border-radius: 20px;
  color:#fff;
}

form > button:hover{
  width: 70px;
  height: 40px;
  margin-left: 10px;
  padding: 5px;
  background-color: black;
  border: #fff solid 2px;
  border-radius: 20px;
  color:#fff;
  cursor:pointer;
}

.cabecalho{
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #fe6c90;
  height: 60px;
  width: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
}

.cabecalho > h1{
margin-left: 40px;

}

.caixaPrincipal > input {
  width: 140px;
  background-color: #251f1f00;
  color: white;
  border-bottom: 1px solid #fe6c90;
  border-radius: 30px;
  margin: 20px
}


.caixaPrincipal > button {
  margin: 20px
}

.CaixaMusica {
  height: 200px;
  width: 300px;
  border:#fff solid 2px;
  margin: 20px;
  font-size: 16px
}

.CaixaMusica:hover {
  height: 200px;
  width: 300px;
  border:#d03791 solid 2px;
  margin: 20px;
  cursor:pointer;
  font-size: 16px
}

@media (min-width:500px) {
.CaixaMusica {
  height: 200px;
  width: 600px;
  border:#fff solid 2px;
  margin: 20px;
  font-size: 21px;
  overflow: hidden;
}

.CaixaMusica:hover {
  height: 200px;
  width: 600px;
  border:#d03791 solid 2px;
  margin: 20px;
  cursor:pointer;
  font-size: 21px;
  overflow: hidden;

}
}

.limite-characteres {
  overflow: hidden;

}
ul{
  margin-left: -28px;
}